$colors : (
    black : #000,
    gray3E : #3E433E,
    grayE4:#E4E4E4,
    gray80:#808080,
    white : #FFF,
    gray68:#686868,

    redD0 : #D0021B,
    pinkBD : #BD10E0,
    blue4A : #4A90E2,
    green7C : #7CBB37,
    goldf5 : #F5A623
)