.prelative{
    position: relative;
}

.pabsolute{
    position: absolute;
}

.nomargin{
    margin: 0;
}

.nopadding{
    padding: 0;
}

.font-open{
    font-family: 'Open Sans', sans-serif;
}

.font-lato{
    font-family: 'Lato', sans-serif;
}

.nodecoration{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
}